@(cats: Seq[Cat], dogs: Seq[Dog])

@main {
    <div>
        <div id="cats">
            <h2>Insert a kitty cat here:</h2>

            <form action="/insert/cat" method="POST">
                <input name="name" type="text" placeholder="name your feline friend"/>
                <input name="color" type="text" placeholder="enter the color of this kitty cat"/>
                <input type="submit"/>
            </form>

            <h2>Previously inserted cats:</h2>
            <table>
                <tr><th>Name</th><th>Color</th></tr>
                @for(c <- cats){
                    <tr><td>@c.name</td><td>@c.color</td></tr>
                }
            </table>
        </div>

        <div id="dogs">
            <h2>Insert a kitty dog here:</h2>

            <form action="/insert/dog" method="POST">
                <input name="name" type="text" placeholder="name your canine friend"/>
                <input name="color" type="text" placeholder="enter the color of this kitty dog"/>
                <input type="submit"/>
            </form>

            <h2>Previously inserted dogs:</h2>
            <table>
                <tr><th>Name</th><th>Color</th></tr>
                @for(d <- dogs){
                    <tr><td>@d.name</td><td>@d.color</td></tr>
                }
            </table>
        </div>
    </div>


    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
    <md-list>

        <!-- List item #1 -->
      <md-item >
        <md-button>
          <md-icon md-svg-src="@routes.Assets.at("svg/avatar-1.svg")" class="avatar"></md-icon>
          Lia Luogo
        </md-button>
      </md-item>

        <!-- List item #2 -->
      <md-item >
        <md-button>
          <md-icon md-svg-src="@routes.Assets.at("svg/avatar-4.svg")" class="avatar"></md-icon>
          Lawrence Ray
        </md-button>
      </md-item>

    </md-list>
  </md-sidenav>

  <md-content flex id="content">
      <!-- User details sample -->

    <md-icon md-svg-src="@routes.Assets.at("svg/avatar-1.svg")" class="avatar"></md-icon>
    <h2>Lia Luogo</h2>
    <p>
      I love cheese...
    </p>
  </md-content>

}
